<div class="home-container">
    <div class="half left-half"></div>

    <div class="center-content">
        <img src="assets/profilephoto.jpg" alt="Foto de Oscar Hernández" class="oval-img mb-4">
        <h1>Oscar Hernández</h1>
        <p>Desarrollador Web | IoT | Ciberseguridad</p>
        <h2>Sobre mí</h2>
        <p>
            Soy estudiante de Ingeniería en Sistemas con una fuerte orientación hacia la ciberseguridad, el desarrollo
            web y las redes informáticas. A mis 18 años he participado en competencias tecnológicas como RoboRave e
            Infomatrix.

            Sé lo básico sobre distintos lenguajes de programación como Python, JavaScript, C, C++ y PHP.
            He trabajado en un proyecto full-stack con Angular.

            Actualmente me estoy formando en inglés (nivel B1, proyectado a C1/C2) y estoy abierto a participar en
            proyectos, prácticas o colaboraciones en áreas como seguridad informática, análisis de datos o desarrollo
            web.

            Mi objetivo es desarrollarme como profesional en Europa o LATAM, en entornos donde la innovación y la
            seguridad digital
        </p>
        <h2>Educación</h2>
        <p>
            Profesional Técnico Bachiller en el Conalep
            José Ma. Martínez R. en Tamazula de Gordiano, Jalisco
            Carrera técnica en Informática
            Desempeñar funciones técnico-operativas inherentes al desarrollo e implantación de soluciones de tecnologías
            de
            información basados en la automatización, organización, codificación, recuperación de la información y
            optimización de
            recursos informáticos a fin de impulsar la competitividad, las buenas prácticas y toma de decisiones en
            organizaciones o
            empresas de cualquier ámbito.
            El egresado en Informática, ha desarrollado las siguientes competencias para desempeñarse en diferentes
            ambientes
            laborales, ejerciendo la toma de decisiones con una actitud crítica, creativa, ética y responsable.
            Competencias
            profesionales: Liderar acciones emprendedoras e innovadoras de acuerdo con los requerimientos personales y
            laborales en el marco de la sostenibilidad; Procesar y comunicar información, utilizando herramientas
            avanzadas para la
            elaboración de documentos digitales, para la expresión de ideas/proyectos y distribución de información;
            Analizar
            requerimientos de procesamiento y sistematización de información de áreas específicas considerando los
            requisitos del
            usuario para atender necesidades organizacionales; Diseñar y desarrollar proyectos de tecnología de
            información, para
            la generación de alternativas de solución, de los requerimientos del usuario; Implementar proyectos de
            software
            aplicativo para la automatización de procesos de la organización, cumpliendo con los requisitos definidos;
            Dar
            mantenimiento a software y/o Tecnologías de Información y Comunicación (TIC) y asistencia a usuarios,
            aplicando
            estándares y mejores prácticas en soporte técnico para conservar la disponibilidad y desempeño de dichos
            recursos;
            Administrar áreas de tecnologías de información y comunicación, de acuerdo con las políticas y estándares de
            operación
            y gestión informática, para brindar servicios de procesos automatizados de información en una organización.
            Manejar las tecnologías de hardware y software empleando los protocolos, técnicas, componentes,
            procedimientos de
            configuración y protección requeridos para la óptima comunicación, así como la seguridad de información
            entre
            organizaciones y usuarios; Utilizar tecnologías de ciberseguridad empleando conceptos, fundamentos y
            procedimientos
            de configuración presentes en distintos procesos de comunicación, protección y control informático, con la
            finalidad de
            establecer las bases programáticas de la protección de red.; Aplicar la seguridad informática en software,
            hardware,
            redes, información e infraestructura de usuarios y organizaciones, empleando principios, prácticas y
            procesos de
            ciberseguridad con la finalidad de mantener la integridad, confidencialidad, disponibilidad en red y datos.

        </p>
    </div>

    <div class="half right-half"></div>
</div>