<div class="projects-container">
    <div class="half left-half"></div>

    <div class="center-content">

        <h1>Proyectos en los que he participado</h1>
        <br>

        <h2>RoboRave 2024</h2>
        <img src="assets/Oscar Javier Hernandez Gallegos_SumoBot 1 Kg_Physical_HS.png" alt="RoboRave">
        <p>
            Participé en el concurso RoboRave 2024, edición Bahía de Banderas, en la competencia de SumoBot en la
            categoría de 1 kilogramo, junto a mi compañero José Luis y con la asesoría de Emanuel Vega Negrete.
            Desarrollé habilidades en el manejo de componentes electrónicos, conexiones, y programación de
            microcontroladores utilizando placas Arduino.
        </p>

        <h2>Infomatrix Regional</h2>
        <img src="assets/InfomatrixGDL.jpg" alt="Infomatrix Region">
        <p>
            Participé en el Infomatrix Regional en Jalisco en la categoría de Desarrollo de Software, junto a mi
            compañero José Luis y nuestro asesor Marco Antonio Célis Crisóstomo.
            Creamos una página web bajo el modelo SaaS llamada <strong>ReciclajeHub</strong>, desarrollada con Angular y
            MaterializeCSS, conectada a una base de datos SQL y con backend en PHP.
            Obtuvimos medalla de plata y el pase al Infomatrix Nacional.
        </p>

        <h2>Infomatrix Nacional</h2>
        <img src="assets/InfomatrixToluca.png" alt="Infomatrix Region">
        <p>
            Participamos en el Infomatrix Nacional en la categoría de Desarrollo de Software. Mejoramos nuestra
            plataforma <strong>ReciclajeHub</strong>, rediseñándola con Bootstrap y optimizando tanto su funcionalidad
            como su rendimiento.
            Seguimos utilizando Angular, SQL y PHP para el desarrollo. Logramos una experiencia más amigable para el
            usuario y obtuvimos la medalla de bronce a nivel nacional.
        </p>
    </div>

    <div class="half right-half"></div>
</div>