<footer class="bg-dark text-light text-center py-4 mt-5">
    <p class="mb-2">© 2025 Oscar Hernández - Todos los derechos reservados</p>
    <div>
        <a href="https://github.com/Sharxk-made-it" class="text-light me-3" target="_blank">
            <i class="bi bi-github fs-4"></i>
        </a>
        <a href="https://linkedin.com/in/oscar-javier-hernández-gallegos-9a653a272" class="text-light me-3"
            target="_blank">
            <i class="bi bi-linkedin fs-4"></i>
        </a>

    </div>
</footer>